$primary-color: #3498db;
$padding: 16px;
$btn-color: #e74c3c;
$nesting:(
    c1:yellow,
    c2:green,
    c3: red,
);
$spacing:(
    sm:8px,
    md: 16px,
    lg:32px,
);
$paddingq:(
    p1:20px,
    p2:40px,
    p3: 60px,
)
